$base-color: #4e4e4e;
$secondary-color: #7c7c7c;
$lightdarck-color: #5c5c5c;
$light-color: #fefefe;
$light-secondary-color: #b9b9b9;

$background-light: rgba(0, 0, 0, 0.0001);
$background-dark: #000000;
$background-darklight: #f5f5f5;

$menu-color: #f5f5f5;
$menu-hover-color: #e5e5e5;
$menu-active-color: #57a4a4;

$primary-size: 16px;
$secondary-size: 14px;
$middle-size: 12px;
$small-size: 11px;
