@import "variables";
@import "mixin";

body {
  font-family: "Roboto", sans-serif;
  @include reset-list;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.nav-section {
  display: flex;
  padding: 1em 10%;
  justify-content: end;

  &__btn {
    position: relative;
    width: 44px;
    height: 37px;
    background-size: cover;
    padding: 0;
  }

  &__menu {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: $menu-color;
    font-size: $small-size;
    color: $base-color;
    text-transform: uppercase;
    width: 182px;
    top: 53px;
    cursor: pointer;
    @include reset-list;
  }

  &__menu-title {
    padding: 13px 9px;
  }

  &__menu-title.title--active {
    color: $menu-active-color;
  }

  &__menu-title:hover {
    background-color: $menu-hover-color;
  }
}

.open-menu {
  display: flex;
}
.close-menu {
  display: none;
}

.burger-btn {
  background: url("../img/menu-button-br.png");
}

.cancel-btn {
  background: url("../img/menu-button-off.png");
}

.header-section {
  padding: 0 10%;
}

.header-section img {
  width: 100%;
}

.article-section {
  display: flex;
  flex-direction: column;
  color: $base-color;
  padding: 2em 10%;

  &__title {
    text-transform: uppercase;
    font-size: $secondary-size;
    padding-bottom: 20px;
    margin: 0;
  }

  &__content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 24px;
    @include reset-list;
  }

  &__box-name {
    margin: 0;
    font-size: $secondary-size;
    line-height: 30px;
  }

  &__box-short {
    color: $secondary-color;
    font-size: $small-size;
    line-height: 20px;
  }

  &__box-description {
    display: none;
  }
}

.main-section {
  flex-direction: column;
  color: $base-color;
  background-color: $background-light;
  padding: 2em 10%;

  &__text {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
    font-size: $secondary-size;
    padding-bottom: 1em;
    margin: 0;
  }
  &__go-to-page {
    display: none;
  }

  &__shots {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }

  &__shots li {
    display: none;
  }
  &__shots li:nth-child(1) {
    display: block;
  }
  &__shots img {
    display: block;
    max-width: 100%;
  }
}

.footer-section {
  padding: 2em 10%;
  background-color: $background-dark;
  text-align: center;

  &__title {
    color: $light-color;
    font-size: $secondary-size;
    line-height: 22px;
    padding-bottom: 1em;
    margin: 0;
    text-transform: uppercase;
  }

  &__text {
    color: $light-secondary-color;
    font-size: $middle-size;
    line-height: 20px;
  }

  &__social-networks {
    display: flex;
    width: 200px;
    justify-content: space-between;
    list-style-type: none;
    padding: 2em 0;
    margin: 0 auto;
  }

  &__contacts {
    color: $light-secondary-color;
    font-size: $secondary-size;
    line-height: 24px;
    margin: 0;
  }
}

.footer-container {
  max-width: 700px;
  margin: auto;
}

@media screen and (min-width: 700px) {
  .nav-section {
    padding: 2em 10%;

    &__btn {
      display: none;
    }

    &__menu {
      position: relative;
      display: flex;
      flex-direction: row;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $background-light;
      justify-content: space-between;
      padding-left: 15%;
      padding-right: 15%;
      cursor: pointer;
    }

    &__menu-title {
      padding: 0;
    }

    &__menu-title:hover {
      background-color: $background-light;
    }

    &__menu-title.title--active {
      color: $menu-active-color;
    }
  }

  .close-menu {
    display: flex;
  }

  .article-section {
    &__title {
      font-size: $primary-size;
      padding-bottom: 1em;
    }
    &__box-name {
      margin: 0;
      font-size: $primary-size;
    }
    &__box {
      display: flex;
    }

    &__box-text {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
    }
    &__box-short {
      display: flex;
      font-size: $middle-size;
    }
    &__box-description {
      display: block;
      color: $lightdarck-color;
      font-size: $secondary-size;
      line-height: 26px;
      margin: 0;
    }
  }

  .main-section {
    background-color: $background-darklight;

    &__text {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-size: $primary-size;
    }

    &__go-to-page {
      display: block;
      font-size: $middle-size;
      text-transform: uppercase;
      margin: 0;
    }
    &__shots {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 8px;
    }
    &__shots li:nth-child(2),
    li:nth-child(3) {
      display: block;
    }
  }

  .footer-section {
    &__title {
      font-size: $primary-size;
    }

    &__text {
      font-size: $primary-size;
      line-height: 28px;
    }

    &__contacts {
      font-size: $primary-size;
      line-height: 26px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .article-section {
    &__content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 30px;
      column-gap: 25px;
    }
  }
  .main-section {
    &__shots {
      grid-template-columns: repeat(4, 1fr);
    }

    &__shots li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4) {
      display: block;
    }
  }
}
